#textdomain wesnoth-twod
[scenario]
	name= _ "Town of Recruits's Temple"
	id=01_Start
	map_data="{~add-ons/TWoD/maps/01_Start.map}"
	next_scenario=null
	victory_when_enemies_defeated=no
	{DEFAULT_MUSIC_PLAYLIST}
	{UNDERGROUND}
	{FREE_MOVE}
	turns = -1
	[side]
		{INCOME_OFF}
		type=Warrior
		name= _ "Player"
		id=you
		facing=n

		side=1
		controller=human
		team_name=1
		user_team_name= _ "Player"
		{GOLD 0 0 0}
	[/side]

	[side]
		type=Lich
		name= _ "Holy Father"
		id=holyfather
		facing=s
		side=2
		controller=ai
		team_name=1
		user_team_name= _ "Player"
		{GOLD 0 0 0}
		[ai]
			passive_leader = yes
		[/ai]
	[/side]
	[side]
		hidden=yes
		side=3
		team_name=3
		controller=ai
		user_team_name= _ "Enemies"
		[ai]
			agression=1.0
			caution=0.0
		[/ai]
	[/side]
[event]
name=prestart
{VARIABLE this_map tor_temple}
{LOAD_MISSION ($m_x) ($m_y) ($m_victim) ($m_reward) ($m_map) ($m_reputation)}
{MENU_TWOD}
{STORY}
[if]
	[variable]
		name = new_player
		not_equals = 0
	[/variable]
	[then]
	{VARIABLE reputation 0}
	{VARIABLE story 1}
	{VARIABLE unitX 16}
	{VARIABLE unitY 4}
	[objectives]
		side=1
		[objective]
			description= _ "Speak to Town Holy Father. (Go to 8, 2)"
			condition=win
		[/objective]
		[gold_carryover]
			bonus=no
			carryover_percentage=100
		[/gold_carryover]
	[/objectives]
	[event]
		name=start
		[message]

			speaker=you
			message= _ "I'm a new fighter. I was summoned to fight our enemies and glorify The Kingdom!"
		[/message]
		[message]
			speaker=holyfather
			message= _ "Wellcome! Now it's your time to start this long and extremely dangerous journey. If you'll face any problems with the campaign, you can contact Profyverya on Wesnoth forum."
		[/message]
	[/event]
	[event]
		name=moveto
		[filter]
			side = 1
			x, y = 8, 2
		[/filter]
		[message]
			speaker=holyfather
			message= _ "Adept of Death, welcome to the ranks of our helpless army. You will be one of a few warriors fighting for a new world order. Things are bad. Maybe your assistance will be helpfull. "
		[/message]
		[message]
			speaker=you
			message= _ "Well, what's happened?""
		[/message]
		[message]
			speaker=holyfather
			message= _ "We have too many enemies.They're all trying to destroy us. Thanks to Gray Gods we are immortal, but if we will lose most of our temples it will be the end of our empire. "
		[/message]
		[message]
			speaker=narrator
			message=_ "Things are really bad. Once there were only three empires: Light Empire (people, elves, dwarfes), Dark Empire (Orcs, Trolls, Goblins) and Great Gray Empire (undead, necromancers and mages). Free state of Gray Empire prospered, Dark and Light empires fought each other. But a century before Darkness and Light created an Alliance. Their goal is the destruction of Gray Kingdom. Only you can stop them and create completely new society."
		[/message]
		[message]
			speaker=holyfather
			message= _ "What is your name, Adept?"
			[text_input]
				variable=nameinput
				label = _ "Your name: "
				text = _"Player"
			[/text_input]
		[/message]
		[modify_unit]
			[filter]
				id=you
			[/filter]
			name = $nameinput
		[/modify_unit]
		[message]
			speaker=holyfather
			message= _ "Good name, $nameinput!"
		[/message]
		[message]
			speaker=holyfather
			message= _ "Now you should choose what type of warrior you want to be."
			[option]
				message = _ "<b>Warrior</b>
Quite powerfull and healthy unit. Inspires his allies. Drawback: hardly educated, no ranged weapon, no magic."
				[command]
					[transform_unit]
						id = you
						transform_to = Warrior
					[/transform_unit]
					[message]
						speaker=you
						message= _"Every living being will afraid of me!"
					[/message]
					[message]
						speaker=holyfather
						message = _ "Let it be so! Now you can pick up this axe. It is quite good weapon for a novice."
					[/message]
					[item]
						x, y = 8, 5
						image= "axe-1.png"
					[/item]
					{START_FIGHT}
					[event]
						name=moveto
						[filter]
							x, y = 8, 5
						[/filter]
						[object]
							[filter]
								x, y = 8, 5
							[/filter]
							[effect]
								apply_to = new_attack
								name=axe
       								description=_"axe"
        							icon=axe-1.png
        							type=blade
        							range=melee
        							damage=8
        							number=4
								price=30
							[/effect]
						[/object]
						[remove_item]
							x, y = 8, 5
						[/remove_item]
						[message]
							speaker=holyfather
							message= _ "Show, what you can! Destroy those Walking corpses!"
						[/message]
						{ENEMY_UNIT (Walking Corpse) (8) (8)}
						{ENEMY_UNIT (Walking Corpse) (8) (7)}
						{ENEMY_UNIT (Walking Corpse) (8) (9)}
						[objectives]
						[objective]
							description = _ "Destroy those  walking corpces!"
							condition=win
						[/objective]
						[objective]
							description = _ "Walking corpses are stupid. You can easily make them fight one by one"
							condition=win
						[/objective]
						[/objectives]
					[/event]
				[/command]
			[/option]
			[option]
				message = _ "<b>Archer</b>
Inflicts serious damage in ranged combat. Drawback: weak melee attack, no magic, few hitpoints."
			[command]
				[transform_unit]
					id = you
					transform_to = Archer
				[/transform_unit]
				[message]
					speaker=you
					message= _"I think that I will easily destroy all my enemies with my bow."
				[/message]
				[message]
					speaker=holyfather
					message = _ "Let it be so! Now you can pick up this crossbow. It will be a good thing for novice."
				[/message]
				{START_FIGHT}
				[item]
					x, y = 8, 5
					image= "crossbow-1.png"
				[/item]
				[event]
					name=moveto
					[filter]
						x, y = 8, 5
					[/filter]
					[object]
						[filter]
							x, y = 8, 5
						[/filter]
						[effect]
							apply_to = new_attack
							name=bow
       							description=_"bow"
        						icon=crossbow.png
        						type=pierce
        						range=ranged
        						damage=8
        						number=4
							price=30
						[/effect]
					[/object]
					[remove_item]
						x, y = 8, 5
					[/remove_item]
					[message]
						speaker=holyfather
						message= _ "Show, what you can! Destroy those Walking corpses!"
					[/message]
					{ENEMY_UNIT (Walking Corpse) (8) (8)}
					{ENEMY_UNIT (Walking Corpse) (8) (7)}
					{ENEMY_UNIT (Walking Corpse) (8) (9)}
					[objectives]
						[objective]
							description = _ "Destroy those  walking corpces!"
							condition=win
						[/objective]
						[objective]
							description = _ "Walking corpses are stupid. You can easily make them fight one by one"
							condition=win
						[/objective]
					[/objectives]
				[/event]
			[/command]
			[/option]
		[/message]
	[/event]
	[event]
		name=attack
		[filter]
			side=1
		[/filter]
		[message]
			speaker=narrator
			message= _ "Brraaaiinnsss!!!"
		[/message]
	[/event]
	[event]
		name=last_breath
		[filter]
			side = 3
		[/filter]
		[message]
			speaker = holyfather
			message = _ "Good start!"
		[/message]
		[event]
			name=last_breath
			[filter]
				side = 3
			[/filter]
			[message]
				speaker = holyfather
				message = _ "Second walking corpse sent back to the cemetry!"
			[/message]
			[event]
				name=last_breath
				[filter]
					side = 3
				[/filter]
				[message]
					speaker = holyfather
					message = _ "You have won in this small battle! Now you should go to the town and start your journey in The World of Death! Good luck, $nameinput!"
				[/message]
				{END_FIGHT}
				[label]
					x, y = 8, 11
					text = _ "Exit"
				[/label]
				[event]
					name=moveto
					[filter]
						x, y = 8, 11
					[/filter]
					[set_variable]
						name = new_player
						value = 1
					[/set_variable]
					[message]
						speaker=holyfather
						message=_"I will give you 200 goldpieces. You can earn more if you fulfill missions for the town guard. Use it wisely and try to stay alive in this terrible war!"
					[/message]
					[gold]
						side=1
						amount=200
					[/gold]
					[endlevel]
						next_scenario = 02_Town_of_recruits
						carryover_percentage = 100
						result=victory
						linger_mode = no
						bonus = no
						carryover_report = no
					[/endlevel]
				[/event]
			[/event]
		[/event]
	[/event]
	[/then]
	[else]
		[label]
			x, y = 8, 11
			text = _ "Exit"
		[/label]
		[event]
			name=moveto
			[filter]
				x, y = 8, 11
			[/filter]
			[endlevel]
				next_scenario = 02_Town_of_recruits
				carryover_percentage = 100
				result=victory
				linger_mode = no
				bonus = no
				carryover_report = no
			[/endlevel]
		[/event]
	[/else]
[/if]
[/event]
	[event]
		name=last_breath
		[filter]
			id=you
		[/filter]
		[message]
			speaker=you
			message = _ "How could this happen?"
		[/message]
		[message]
			speaker=holyfather
			message = _ "Hahaha!! I will find someone else."
		[/message]

	[/event]
[/scenario]
