#textdomain wesnoth-myrpg
[scenario]
map_data="{~add-ons/My_RPG/maps/Town_of_Recruits.map}"
id="02_Town_of_recruits"
name="02_Town_of_recruits"
victory_when_enemies_defeated=no
{UNDERGROUND}
{FREE_MOVE}
[story]
	[part]
		story = _ "This is the town of recruits. A town where new souls of dead are recruited"
	[/part]
[/story]
[side]
	income=-2
	side=1
	team_name=1
	type=Warrior
	name= _ "$nameinput"
	controller=human
	id=you
	user_team_name= _ "Player"
	{GOLD 0 0 0}
[/side]
[side]
	controller="ai"
	gold=0
	no_leader=yes
	side=2
	team_name=1
	[unit]
		id=n1
		name = Number 1
		type=Death Knight
		x, y = 14, 28
	[/unit]
	[unit]
		name = Number 2
		type=Death Knight
		x, y = 18, 28
	[/unit]
	[unit]
		name = Number 3
		type=Death Knight
		x, y = 2, 22
	[/unit]
	[unit]
		name = Number 4
		type=Death Knight
		x, y = 2, 8
	[/unit]
	[unit]
		name = Number 5
		type=Death Knight
		x, y = 16, 1
	[/unit]
	[unit]
		name = Number 6
		type=Death Knight
		x, y = 29, 8
	[/unit]
	[unit]
		name = Number 7
		type=Death Knight
		x, y = 29, 23
	[/unit]
[/side]
[label]
	x, y = 15, 19
	text = _ "Governor"
[/label]
[event]
	name = moveto
	first_time_only = no
	[filter]
		x, y = 15, 19
	[/filter]
	[message]
		speaker = narrator
		message = _ "Governor Palace"
	[/message]
[/event]
[label]
	x, y = 16, 30
	text = _ "Exit"
[/label]
[event]
	name = moveto
	first_time_only = no
	[filter]
		x, y = 16, 30
	[/filter]
	[message]
		speaker = narrator
		message = _ "Exit"
	[/message]
[/event]
[label]
	x, y = 16, 3
	text = _ "Temple"
[/label]
[event]
	name = moveto
	first_time_only = no
	[filter]
		x, y = 16, 3
	[/filter]
	[endlevel]
		next_scenario = 01_Start
		carryover_percentage = 100
		result=victory
		linger_mode = no
		bonus = no
		carryover_report = no
	[/endlevel]
[/event]
[label]
	x, y = 8, 23
	text = _ "Town Guards"
[/label]
[label]
	x, y = 24,23
	text = _ "Town Guards"
[/label]
[event]
	name = moveto
	first_time_only = no
	[filter]
		x, y = 8, 23
		[or]
			x, y = 24, 23
		[/or]
	[/filter]
	[set_variable]
		name=menu
		value=1
	[/set_variable]
	[if]
		[variable]
			name=reputation
			less_than=100
		[/variable]
		[then]
			[set_variable]
				name=rep_stat
				value=0
			[/set_variable]
		[/then]
	[/if]
	[while]
	[variable]
		name=menu
		equals=1
	[/variable]
	[do]
		[if]
		[variable]
			name=mission
			not_equals=1
		[/variable]
		[then]
			[switch]
				variable=rep_stat
				[case]
					value = 0
					[message]
						speaker = narrator
						message = _ "Good day, $nameinput. We have some missions for you:"
						[option]
							message= _"Test mission"
							[command]
								[message]
									speaker=n1
									message= _ "$nameinput, go to the exit label. <i>this is simply test</i>"
								[/message]
								[set_variable]
									name=mission
									value=1
								[/set_variable]
								[set_variable]
									name=mission_name
									value=_"test mission"
								[/set_variable]
							[/command]
						[/option]
						[option]
							message=_"I don't want to do anything here."
							[command]
								[set_variable]
									name=menu
									value=0
								[/set_variable]
							[/command]
						[/option]
					[/message]
				[/case]
			[/switch]
		[/then]
		[else]
			[message]
				speaker = narrator
				message = _ "Good day, $nameinput. You are on <b>$mission_name</b>. Do you want to cancel it?"
				[option]
					message= _"Cancel"
					[command]
						[set_variable]
							name=mission
							value=0
						[/set_variable]
						[clear_variable]
							name=mission_name
						[/clear_variable]
					[/command]
				[/option]
				[option]
					message=_"I don't want to do anything here."
						[command]
							[set_variable]
								name=menu
								value=0
							[/set_variable]
						[/command]
				[/option]
			[/message]
		[/else]
		[/if]
	[/do]
	[/while]
[/event]
	[event]
		
		name=prestart
		{PLACE_UNIT ($unitX) ($unitY)}
		[objectives]
			side=1
			[objective]
				description= _ "Explore the town and look for missions"
				condition=win
			[/objective]
			[gold_carryover]
				bonus=no
				carryover_percentage=100
			[/gold_carryover]
		[/objectives]
		
		#[message]
		#	speaker=narrator
		#	message= _"$nameinput"
		#[/message]
	[/event]
	[event]
		name = start
		[if]
			[variable]
				name = new_player
				equals = 1
			[/variable]
			[then]
				[message]
					speaker=narrator
					message = _ "Dear, $nameinput! Welcome to ""The World Of Death"" campaign. Our game is free-world RPG. In different towns and villages you can get different missions. Please note that ""The World of Death"" is still in ALFA-testing. So many things don't work at all yet."
				[/message]
				[message]
					speaker=n1
					message= _ "$nameinput, if you are looking for missions, you can visit one of those City Guards.(8, 23 and 24, 23)"
				[/message]
				[set_variable]
					name = new_player
					value = 0
				[/set_variable]
			[/then]
		[/if]
	[/event]
	
[/scenario]
