#textdomain wesnoth-twod
[scenario]
  name=_"Northern Frontline"
  id=05_northern_frontline
  map_data="{~add-ons/TWoD/maps/northern_frontline.map}"
  next_scenario=null
	victory_when_enemies_defeated=no
  {DEFAULT_MUSIC_PLAYLIST}
  {UNDERGROUND}
  {FREE_MOVE}
  turns = -1
  [side]
  	{INCOME_OFF}
  	side=1
  	team_name=1
  	type=Warrior
  	name= _ "$nameinput"
  	controller=human
  	id=you
  	user_team_name= _ "Player"
  	{GOLD 0 0 0}
  [/side]
  [side]
  	controller=null
  	gold=0
  	no_leader=yes
  	side=2
  	team_name=1
  [/side]
  [side]
		hidden=yes
		side=3
		team_name=3
		controller=ai
		user_team_name= _ "Enemies"
		[ai]
			agression=1.0
			caution=0.0
		[/ai]
	[/side]
[/scenario]
