[textdomain]
	name=wesnoth-twod
	path="data/add-ons/TWoD/translations"
[/textdomain]
[campaign]
	id=TWoD
	icon="units/undead-skeletal/banebow.png"
	image="images/portraits/trolls/troll.png"
	name= _ "The World of Death"
	abbrev= _"TWoD"
	first_scenario=01_Start
	{CAMPAIGN_DIFFICULTY NORMAL "units/human-magi/red-mage.png~RC(magenta>red)" ( _ "Red Mage") ( _ "Normal")}
	allow_difficulty_change = no
	#type = hybrid
	type = sp
	{DEFAULT_DIFFICULTY}
	description= _ "The world of Death 0.3.0-alfa. RPG-campaign for Wesnoth 1.14"
	define=TWoD
	[about]
		title= _ "Campaign Design and Programming"
		[entry]
			name=_"Profyverya (Sergey Serebryakov)"
		[/entry]
	[/about]
	[about]
		title=_ "Special thanks to:"
		[entry]
			name="Heindal"
		[/entry]
	[/about]
[/campaign]
#ifdef TWoD
	[binary_path]
		path=data/add-ons/TWoD
	[/binary_path]
	{~add-ons/TWoD/utils}
	{~add-ons/TWoD/scenarios}
	{~add-ons/TWoD/images}
	[units]
		{~add-ons/TWoD/units}
	[/units]
#endif
