#define ENEMY_UNIT TYPE X Y
	[unit]
		side=3
		type={TYPE}
		x, y={X}, {Y}
		moves=0
	[/unit]
#enddef
#define FREE_MOVE
	[event]
		name = moveto
		first_time_only = no
		[if]
			[variable]
				name = fight
				not_equals = 1
			[/variable]
			[then]
				[end_turn]
				[/end_turn]
			[/then]
		[/if]
	[/event]
#enddef
#define PLACE_UNIT X Y
	[teleport]
		[filter]
			id=you
		[/filter]
		x = {X}
		y = {Y}
	[/teleport]
#enddef
